
.container2{
     
  display: flex;

  justify-content: center;
   
 
  gap:170px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 100px
   
  
}
.card2{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  border-top: 1px solid rgba(255,255, 255, 0.5);
  border-left: 1px solid rgba(255,255, 255, 0.5);
  /* height: 400px;
  width:320px; */
  border-radius:15px;
  backdrop-filter:blur(5px) ;
  

  margin:30px;
 height: 150px;
  gap: 5px;
  /* width: 75px; */
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  
  
}
.img{
  
  position:relative;
  display:flex;
  
  flex-direction:column;
  justify-content:center;
  width:70px;
  height:70px;
  
  border-radius:50%;
  background-size:cover;
  transition: ease-in-out .3s;
  
  z-index:2;
  max-height: 150px;
 
}
span{
  font-family: 'Merriweather', serif;
  font-size: large;
  padding-left : 10px;
  padding-right : 10px;
}

.number {
  font-size : 40px;
  font-weight: 900;
  color: #24538f;

}

.text {
  font-size : 22px;
  font-weight: 900;
  color: #24538f;
}