body {
  font-family: 'Open Sans', sans-serif;
}


.PremuimCard {
  display: flex;
  flex-direction: column;
  height:500px;
  width: 400px;
  border-radius: 15px;
  box-shadow: -0.5rem 0 1rem rgba(159, 135, 255, 1.389);
  background: white;
  margin-left: -50px;
  margin-right: 350px;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

/* .PremuimCard:not(:first-child) {
    margin-left: -50px;
} */

.PremuimCard:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
  width: 600px;

}

.PremuimCard:hover ~ .PremuimCard {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
 
}

.a{
  /* position: absolute; */
  height: 550px;
  top: 60px;
  left: calc(50% - 300px);
  width: 70px;
  display: flex;
  padding-right: 16px;
  padding-bottom:100px;
 

}
.myimg {
  
  height: 300px; 
  width: 350px;  
  border-radius: 10px;
 
}

.des{

  width: 225px;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Avenir Next LT Pro', sans-serif;
}
