Modal {
    
  font-family: 'Poppins', sans-serif;
  background: repeating-linear-gradient(-45deg,rgb(38, 37, 37), rgb(46, 45, 45) 4px, #88744a 4px, #5b4c2d 8px);
  padding: 40px 25px;
  border-top: 6px solid #17c0eb;
}

.mBody{
    
  font-family: 'Poppins', sans-serif;
  background: repeating-linear-gradient(-45deg,#111, #111 4px, #2a2314 4px, #2a2314 8px);
  padding: 40px 25px;
  border-top: 6px solid #17c0eb;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
color: rgb(147, 133, 133);
text-decoration: none;
cursor: pointer;
}


.footer{
  padding: 2px 16px;
  background-color: #848f84;
  color: white;

}
.header{
  padding: 2px 16px;
  background-color: #848f84;
  color: white;
}
input[type=text] {
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-sizing: border-box;
border: 2px solid blue;
border-radius: 4px;
background-color:  #848f84;
color: white;
text-shadow: #aaaaaa;
}
input[type=text]:focus {
  width: 100%;
}
form {

filter: contrast(1); font-family: 'Poppins', sans-serif;
  background: repeating-linear-gradient(-45deg,rgb(0, 0, 0), rgb(0, 0, 0) 4px, #2a2314 4px, #2a2314 8px);
  padding: 40px 25px;
  border-top: 6px solid #17c0eb;
  color: aliceblue;
  text-align: left;
  

}

.form{
  mix-blend-mode: multiply;
filter: contrast(1);
}