.imgM{
    width: 463px;
    height: 300px;
    width : 100%;
    height : 25vw;
    

}

.modal-content{
    background-color: rgba(255, 255, 255, 1.867);
    width: 150;
    
    border-radius: 1rem; 
    
}

.info{
    align-items: stretch;
    justify-content: space-around;
    display: flex;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;

 
    
          
}
.info .house  div{
     padding-bottom: 20px;
}
.info .owner  div{
    padding-bottom: 20px;
}

.info .house  img{
    width:25px;
    
   
}

.info .owner  img{
    width: 25px;
    
}

.info  span {
    font-size:16px;
    padding-left: 25px;
    font-weight: 700;

   
}

