.whyUs{
  text-align: center;
	display: flex;
	justify-content:space-between;
	padding-left: 260px;
  padding-right: 260px;
  margin-bottom: 100px;
  
}
.part{
   
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    align-items: center;
    width: 100px;
    font-family: 'Avenir Next LT Pro', sans-serif;
}
.myimg2{
  width: 120px;
  margin: 50px;
  
}
.part p{
width: 300px;
font-size: 23px;
text-align: center;

}