.container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap:170px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding-left: 75px;
    padding-right: 75px;
    
}
.card2{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255, 255, 0.5);
    border-left: 1px solid rgba(255,255, 255, 0.5);
    height: 400px;
    width:280px;
    border-radius:15px;
    backdrop-filter:blur(5px) ;
    background:rgb(255 255 255);
    overflow: hidden;
    margin:30px;
   height: 150px;
    gap: 5px;
    width: 75px;
    
    
  }
.img{
    
    position:relative;
    display:flex;
    
    flex-direction:column;
    justify-content:center;
    width:70px;
    height:70px;
    
    border-radius:50%;
    background-size:cover;
    transition: ease-in-out .3s;
    
    z-index:2;
    max-height: 150px;
   
}
span{
    font-family: 'Merriweather', serif;
    font-size: large;
}